<!doctype html>
<html>
<head>
  <title>Meadowlark Travel</title>
</head>
<body>
  <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
  {{{body}}}
  <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</body>
</html>
